*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    width: 100%;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    height: 850px;
    width: 1920px;
    background: rgba(229, 84, 115, 0.10);
}
.first-heading{
    color: #272727;
font-size: 80px;
height: 290px;
width: 710px;
}
.first-paragraph{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
max-resolution: 32px 0px;
margin: 32px 0px;
}
.heading{
    width: 710px;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 240px;
    margin-right: 100px;
}
.picture1{
    width: 635px;
    height: 800px;
    margin-right: 240px;
    margin-left: 0px;
    margin-top: 50px;
}
.first-button{
    border-radius: 8px;
background: #E55473;
padding: 20px 43px;
}
/* body part */
/* 2nd heading part */

.second-heading{
    margin-top: 170px;
}
.title-first-heading{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.second-heading-paragraph{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/* sec1 flowers */
.sec1{
display:flex;
justify-content: center;
margin-top: 48px;
}
.sec1-img1{
width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
margin-left: 240px;
margin-right: 24px;
}
.sec1-img2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin-right: 24px;
}
.sec1-img3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
margin-right: 240px;
}
.img1{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}
.img2{
width: 370px;
height: 370px;
padding: 117px 47px 51px 47px;
}
.img3{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
.sec1-h3{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}
.h5-1{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-right: 307px;
    margin-top: 32px;
}
.h5-2{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}
.h5-3{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-left: 307px;
    margin-top: 32px;
}
/* creative part */
.sec2{
    display: flex;
    border-top: 20px;
}
.creative{
    padding-top: 20px;
height: 450px;
width: 50vw;
background-color: rgb(207, 243, 231);
}
.creative2{
    padding-top: 20px;
    height: 450px;
    width: 50vw;
    background-color: rgb(213, 248, 248);


}
 .first-girl{
    width: 510px;
    height: 340px;
    padding-left: 24vw;
}
#boy1{
    color: #FFF;
font-size: 25px;
font-weight: 700;
}
#girl1{
    color: #FFF;
font-size: 25px;
font-weight: 700;
}
.creative-heading-h2{
    font-size: 35px;
}
.creative-heading{
font-size: 35px;
display: flex;
justify-content: center;
margin-bottom: 20px;
}
/* section 3 */
.sec3{
display: flex;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
height: 620px;
width: 100vw;
}
.sec3-header{
    margin: 300px 0px 260px 395px;
}
.sec3-h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.sec3-p{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
margin-bottom: 32px;
}
.sec3-button{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
}
.sec3-pic{
 width: 318px;
 height: 420px;
 margin: 100px 420px 100px 190px;
}
.sec3-picture{

}
/* section4 instagram */
.insta{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 130px;
}
.sec4-p{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
}
.sec4{
    margin: 48px 240px 128px 240px;
display: flex;
justify-content: center;
}
.sec4-1{
margin-right: 24px;
}
.sec4-2{
    margin-right: 24px;
}
.sec4-3{
    margin-right: 24px;
}

/* section 5 */
.sec5{
    display: flex;
    justify-content: center;
    
}
.sec5-bi{
    background-image:url(../Rec9.png);
    width: 1440px;
    height: 450px;
}
.sec5-h4{
    color: #272727;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    padding-top: 122px;
}
.sec5-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-top: 15px;
}
.sec5-form{

}
.sec5-input{
    width: 700px;
height: 64px;
color: rgba(39, 39, 39, 0.60);
font-size: 25px;
font-weight: 400;
margin-left: 287px;
margin-right: 16px;
}
/* footer part */
.red{
    color: #E55473;
}
footer{
    background: #111010;
    width: 100vw;
    height: 449px;
    margin-top: 130px;
}
.footerh1{
    color: white;
font-size: 48px;
font-weight: 800;
text-align: center;
padding-top:128px ;
margin-bottom: 24px;
}
.footerp{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-top: 32px;
}
